@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    HCL Healthcare<br />
    Plot No 3A, Sector 126<br />
    Noida – 201303. UP (India)<br />
    <abbr title="Phone">Phone :</abbr>
    0120 430 6000
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">support@hclhealthcare.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@hclhealthcare.com</a>
</address>