@{
    ViewBag.Title = "Home Page";
}

<!--<div class="jumbotron">
    <h2>Welcome to HCL Healthcare</h2>
    <p class="lead">Where Care Comes First</p>-->

    @*<p><a href="http://google.com" class="btn btn-primary btn-large">Learn more &raquo;</a></p>*@
<!--</div>
<p>
    HCL Healthcare is a pioneer in delivering a wide range of preventive health and wellness solutions to the Indian corporate sector. With a talented clinical and corporate workforce, the company has served half a million customers and has anchored many health transformation journeys. In less than a decade, HCL Healthcare has a footprint of 50+ physical sites and coverage of 3000+ pin codes pan India and is extensively delivering customized wellness solutions to multi-industries including IT, Infra, Travel, Real Estate, Global Investment Banks, and Education.

    HCL Healthcare delivers full circle wellness to employees and families including Preventive Health Check-Ups, Radiology and Diagnostics, Specialist Doctor Consultations, COVID Care Management, Vaccinations, At-Home Care, Life Coach Services, Female Employee Care Programs, Basic Life Support Training, Wellness sessions, and Mental Health through a tech-driven phygital model of care .
</p>-->

<div class="text-left">
    <h1 class="display-4">Welcome to HCL Healthcare</h1>
    <p>
        HCL Healthcare is a pioneer in delivering a wide range of preventive health and wellness solutions to the Indian corporate sector. With a talented clinical and corporate workforce, the company has served half a million customers and has anchored many health transformation journeys. In less than a decade, HCL Healthcare has a footprint of 50+ physical sites and coverage of 3000+ pin codes pan India and is extensively delivering customized wellness solutions to multi-industries including IT, Infra, Travel, Real Estate, Global Investment Banks, and Education.

        HCL Healthcare delivers full circle wellness to employees and families including Preventive Health Check-Ups, Radiology and Diagnostics, Specialist Doctor Consultations, COVID Care Management, Vaccinations, At-Home Care, Life Coach Services, Female Employee Care Programs, Basic Life Support Training, Wellness sessions, and Mental Health through a tech-driven phygital model of care .
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <img src="https://i.postimg.cc/J7xw6ZkJ/find-doctors.jpg" />
        <h2>Find Doctors</h2>
        <p>
            Get the best in health care with the help of our highly qualified doctors. Click the button below to get started.
        </p>
        <p></p>
        <p><a class="btn btn-primary" href="@Url.Action("Index","Doctor")">Find Doctors &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <img src="https://i.postimg.cc/yxvwDCHn/Contact-page-Book-an-Appointment-Mobile.jpg" />
        <h2>Book An Appointment</h2>
        <p>Setting up appointments has never been so easy. Its just a registration and few clicks away.</p>
        <p><a class="btn btn-primary" href="@Url.Action("Create","Appointment")">Book Appointment &raquo;</a></p>
    </div>
    @*<div class="col-md-4">
            <img src="~/Media/1hospital.jpg" />
            <h2>View Statistics</h2>
            <p>Want to know how well we are doing? Check it out yourself.</p>
            <p><a class="btn btn-primary" href="@Url.Action("About","Home")">Show Statistics &raquo;</a></p>
        </div>*@
</div>